.header {
  margin-bottom: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;

  @include macbook {
    margin-bottom: 0;
  }

  @include mobile-l {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    max-width: 1010px;
    width: 100%;
    z-index: 100;

    @include mobile-l {
      position: absolute;
      padding-top: 50px;
      inset: 0;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      background-color: var(--color-input);
      opacity: 0.9;
      transition: transform 0.3s;
      transform: translateX(-100%);
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 35px;

      @include macbook {
        margin-right: 25px;
      }
    }


  }

  &__item-link,
  &__item-btn {
    position: relative;
    color: var(--color-black);
    text-transform: uppercase;

    &--arrow {
      padding-right: 15px;
      background-repeat: no-repeat;
      background-size: 12px 8px;
      background-position: right;
      background-image: url('../img/header-arrow-down-icon.svg');
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15%;
      width: 0;
      height: 2px;
      background-color: var(--color-black);
      transition: width .3s ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__user-list {
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
    max-width: 110px;
    width: 100%;

    @include macbook {
      padding-right: 0;
    }

    @include mobile-l {
      margin-right: 20px;
      margin-left: auto;
    }

    @include mobile-m {
      justify-content: flex-end;
      max-width: 60px;
    }
  }

  &__user-item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__user-link {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;

    &--search {
      background-image: url('../img/header-search-icon.svg');
    }

    &--cart {
      background-image: url('../img/header-cart-icon.svg');
    }
  }
}

.dropdown {
  position: absolute;
  top: 140%;
  left: 20%;
  z-index: 2;
  min-width: 250px;
  width: 100%;
  background-color: var(--color-input);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__item {
    min-width: 250px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    display: block;
    max-width: 200px;
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: var(--color-black);
    background-color: var(--color-input);
  }
}

.hamburger {
  display: none;
  z-index: 100;

  @include mobile-l {
    position: relative;
    top: 1px;
    display: block;
    // margin-left: 20px;
    padding: 10px 0;
  }
}

.hamburger-box {
  width: 30px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 30px;
  background-color: var(--color-black);
}

.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--color-white);
}

.hamburger-label {
  font-weight: 500;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  color: var(--color-bg-light-gray);
  text-transform: uppercase;

  @include mobile-l {
    display: none;
  }
}

.is-active {
  transform: translateX(0%);
}
