<section class="best">
  <div class="container best__container">
    <h2 class="best__title title">See the best around here</h2>
    <p class="best__text centered text">Our new Limited Edition Winter Design BESPOKE 4-Door Flex™</p>

    <ul class="best__list list-reset">
      <li class="best__item">
        <div class="best__item-inner">
          <span class="best__item-text centered">Smart light bulb pack</span>
          <h3 class="best__item-title">Latest and gratest</h3>
          <a class="best__item-link" href="#">Explore</a>
          <img class="best__item-image best__item-image--first" src="img/best-first-image.png" width="259" height="250"
            alt="image of two smart watches Apple Watch">
        </div>
      </li>
      <li class="best__item">
        <div class="best__item-inner">
          <span class="best__item-text centered">Smart light bulb pack</span>
          <h3 class="best__item-title">Best selling</h3>
          <a class="best__item-link" href="#">Explore</a>
          <img class="best__item-image best__item-image--second" src="img/best-second-image.png" width="294"
            height="250" alt="image of two smart watches Apple Watch">
        </div>
      </li>
      <li class="best__item">
        <div class="best__item-inner">
          <span class="best__item-text centered">Smart light bulb pack</span>
          <h3 class="best__item-title">Every product</h3>
          <a class="best__item-link" href="#">Explore</a>
          <img class="best__item-image best__item-image--third" src="img/best-third-image.png" width="355" height="250"
            alt="image of two smart watches Apple Watch">
        </div>
      </li>
    </ul>
  </div>
</section>
