<section class="else">
  <div class="container else__container">

    <h2 class="else__title title">Looking for anything else?</h2>

    <label class="else__search">
      <input class="else__search-input else__search-input--icon" type="search" id="myinputfield"
        placeholder="Search keyword">
    </label>

    <ul class="else__search-list-top list-reset">
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">iPhone</button>
      </li>
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">Charger</button>
      </li>
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">Gift</button>
      </li>
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">Google Pixel 3</button>
      </li>
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">Keyboard</button>
      </li>
    </ul>

    <ul class="else__search-list-bottom list-reset">
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">13 Pro Max</button>
      </li>
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">iPhone 12</button>
      </li>
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">Laptop</button>
      </li>
      <li class="else__search-item">
        <button class="else__button-name btn-reset" value="iPhone">Mobile</button>
      </li>
    </ul>

    <!-- <label class="else__iphone-text-label">
      <input class="else__button-iphone btn-reset" type="button" value="iPhone" id="button" />
    </label> -->

  </div>
</section>
