<footer class="footer">
  <div class="container footer__container">

    <div class="footer__main-inner">
      <div class="footer__logo-inner">
        <a class="logo" href="#">
          <img class="logo footer__logo" src="img/logo.svg" width="170" height="21" alt="site logo">
        </a>
        <p class="footer__text">
          Sign up for texts to be notified about our best offers on the perfect gifts.
        </p>
      </div>


      <ul class="footer__lists list-reset">
        <li class="footer__lists-items">
          <h3 class="footer__list-subtitle">All products</h3>
          <ul class="footer__products-list list-reset">
            <li class="footer__item-link">
              <a class="footer__link" href="#">Phones</a>
            </li>
            <li class="footer__item-link">
              <a class="footer__link" href="#">Watch</a>
            </li>
            <li class="footer__item-link">
              <a class="footer__link" href="#">Tablet</a>
            </li>
            <li class="footer__item-link">
              <a class="footer__link" href="#">Laptops</a>
            </li>
          </ul>
        </li>

        <li class="footer__lists-items">
          <h3 class="footer__list-subtitle">Company</h3>
          <ul class="footer__company-list list-reset">
            <li class="footer__item-link">
              <a class="footer__link" href="#">About</a>
            </li>
            <li class="footer__item-link">
              <a class="footer__link" href="#">Support</a>
            </li>
          </ul>
        </li>

        <li class="footer__lists-items">
          <h3 class="footer__list-subtitle">Support</h3>
          <ul class="footer__support-list list-reset">
            <li class="footer__item-link">
              <a class="footer__link" href="#">Style Guide</a>
            </li>
            <li class="footer__item-link">
              <a class="footer__link" href="#">Licensing</a>
            </li>
            <li class="footer__item-link">
              <a class="footer__link" href="#">Change Log</a>
            </li>
            <li class="footer__item-link">
              <a class="footer__link" href="#">Contact</a>
            </li>
          </ul>
        </li>

        <li class="footer__lists-items">
          <h3 class="footer__list-subtitle">Follow Us</h3>
          <address class="footer__contacts">
            <ul class="footer__products-list list-reset">
              <li class="footer__item-link">
                <a class="footer__link" href="#">Instagram</a>
              </li>
              <li class="footer__item-link">
                <a class="footer__link" href="#">Facebook</a>
              </li>
              <li class="footer__item-link">
                <a class="footer__link" href="#">LinkedIn</a>
              </li>
              <li class="footer__item-link">
                <a class="footer__link" href="#">Youtube</a>
              </li>
            </ul>
          </address>
        </li>
      </ul>
    </div>

    <div class="footer__copyright-inner">
      <small class="footer__left-inner">
        <span class="footer__who-made">Made By:</span>
        <a class="footer__who-link" href="#">Azwedo</a>
      </small>
      <small class="footer__right-inner">
        <span class="footer__who-powered">Powered By:</span>
        <a class="footer__who-link" href="#">Webflow</a>
      </small>
    </div>

  </div>
</footer>
