<header class="header">
  <div class="container header__container">
    <a class="logo" href="#">
      <img class="logo" src="img/logo.svg" width="170" height="21" alt="site logo">
    </a>
    <nav class="header__nav">
      <ul class="header__list list-reset">
        <li class="header__item">
          <a class="header__item-link" href="#">All Products</a>
        </li>
        <li class="header__item">
          <button class="header__item-btn header__item-link--arrow btn-reset" type="button">Solutions</button>
          <div class="dropdown">
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">
                <a class="dropdown__link" href="#">
                  Latest and gratest
                </a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link" href="#">
                  Best selling
                </a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link" href="#">
                  Every product
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">About</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">Support</a>
        </li>
      </ul>
    </nav>
    <ul class="header__user-list list-reset">
      <li class="header__user-item">
        <a class="header__user-link header__user-link--search" href="#"></a>
      </li>
      <li class="header__user-item">
        <a class="header__user-link header__user-link--cart" href="#"></a>
      </li>
    </ul>


    <button class="hamburger hamburger--spring" type="button"
      aria-label="menu button to open additional sections of site navigation" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
      <span class="hamburger-label">menu</span>
    </button>

  </div>
</header>
