<section class="hero">
  <div class="container hero__container">
    <ul class="hero__slide-list list-reset">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="hero__slide-item">
              <div class="hero__left-side">
                <h1 class="visually-hidden">California shop - brand technique Apple</h1>
                <h2 class="hero__title">
                  The new phones are here take a look.
                </h2>
                <p class="hero__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor.
                  Faucibus
                  morbi turpis.
                </p>
                <div class="hero__btn-inner">
                  <a class="hero__btn-link" href="#">Explore</a>
                </div>
              </div>
              <div class="hero__right-side">
                <img class="hero__image" src="img/hero-image.png" width="647" height="550" alt="iphone photo">
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="hero__slide-item hero__slide-item--center">
              <div class="hero__left-side">
                <h2 class="hero__title">
                  The new phones are here take a look.
                </h2>
                <p class="hero__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor.
                  Faucibus
                  morbi turpis.
                </p>
                <div class="hero__btn-inner">
                  <a class="hero__btn-link" href="#">Explore</a>
                </div>
              </div>
              <div class="hero__right-side">
                <img class="hero__image" src="img/hero-image.png" width="647" height="550" alt="iphone photo">
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="hero__slide-item hero__slide-item--right">
              <div class="hero__left-side">
                <h2 class="hero__title">
                  The new phones are here take a look.
                </h2>
                <p class="hero__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor.
                  Faucibus
                  morbi turpis.
                </p>
                <div class="hero__btn-inner">
                  <a class="hero__btn-link" href="#">Explore</a>
                </div>
              </div>
              <div class="hero__right-side">
                <img class="hero__image" src="img/hero-image.png" width="647" height="550" alt="iphone photo">
              </div>
            </li>
          </div>
        </div>
        <div class="slider-pagination">
          <ul class="slider-pagination-list list-reset">
            <li class="slider-list-item">
              <button class="swiper-pagination btn-reset"></button>
            </li>
            <li class="slider-list-item">
              <button class="swiper-pagination btn-reset"></button>
            </li>
            <li class="slider-list-item">
              <button class="swiper-pagination btn-reset"></button>
            </li>
          </ul>
        </div>
        <div class="slider-btns">
          <div class="swiper-button-prev swiper-button-prev--left"></div>
          <div class="swiper-button-next swiper-button-next--right"></div>
        </div>
      </div>
    </ul>
  </div>
</section>
