<section class="ideas">
  <div class="container ideas__container">
    <h2 class="ideas__title title">Ideas have a place here</h2>
    <p class="ideas__text centered text">Our new Limited Edition Winter Design BESPOKE 4-Door Flex™</p>

    <div class="ideas__inner">
      <img class="ideas__image" src="img/ideas-image.png" width="620" height="420" alt="">
      <ul class="ideas__paragraphs list-reset">
        <li class="ideas__item">
          <p class="ideas__paragraph">We Make It Easy To Find The Great Design Talent, Easier...</p>
        </li>
        <li class="ideas__item">
          <p class="ideas__paragraph">Road Design Handbook For The International Road...</p>
        </li>
        <li class="ideas__item">
          <p class="ideas__paragraph">The Best Kept Secrets About Creative People</p>
        </li>
        <li class="ideas__item">
          <p class="ideas__paragraph">We Make It Easy To Find The Great Design Talent, Easier...</p>
        </li>
      </ul>
    </div>

    <div class="ideas__link-inner">
      <a class="ideas__more-link" href="#">See all</a>
    </div>
  </div>
</section>
