<section class="never">
  <div class="container never__container">
    <div class="never__inner">
      <h2 class="never__title title">Never miss a thing</h2>
      <p class="never__text centered">Sign up for texts to be notified about our best offers on the perfect gifts.</p>
      <img class="never__image" src="img/never-image.png" width="233" height="200" alt="">
      <label class="never__mail-subscribe">
        <input class="never__subscribe" type="mail" placeholder="Your email">
        <button class="never__btn btn-reset">Sign up</button>
      </label>
    </div>
  </div>
</section>
