<section class="save">
  <div class="container save__container">
    <h2 class="save__title title">Save on our most selled items.</h2>
    <p class="save__text centered text">Our new Limited Edition Winter Design BESPOKE 4-Door Flex™</p>

    <ul class="save__list list-reset">
      <li class="save__item">
        <img class="save__item-image" src="img/save-first-image.png" width="247" height="214"
          alt="image Macbook Pro 13">
        <a class="save__item-link" href="#">
          <h3 class="save__item-title">MacBook Pro 13</h3>
        </a>
        <p class="save__item-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
        <span class="save__item-price">$ 1,200.00 USD</span>
      </li>

      <li class="save__item">
        <img class="save__item-image" src="img/save-second-image.png" width="247" height="214"
          alt="image Macbook Pro 13">
        <a class="save__item-link" href="#">
          <h3 class="save__item-title">Smart Galaxy Watch 3</h3>
        </a>
        <p class="save__item-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci
          velit...</p>
        <span class="save__item-price">$ 199.00 USD</span>
      </li>

      <li class="save__item">
        <img class="save__item-image" src="img/save-third-image.png" width="247" height="214"
          alt="image Macbook Pro 13">
        <a class="save__item-link" href="#">
          <h3 class="save__item-title">MacBook Air M1</h3>
        </a>
        <p class="save__item-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci
          velit...</p>
        <span class="save__item-price">$ 1,009.00 USD</span>
      </li>

      <li class="save__item">
        <img class="save__item-image" src="img/save-fourth-image.png" width="247" height="214"
          alt="image Macbook Pro 13">
        <a class="save__item-link" href="#">
          <h3 class="save__item-title">iPad</h3>
        </a>
        <p class="save__item-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
          velit...</p>
        <span class="save__item-price">$ 610.00 USD</span>
      </li>
    </ul>
  </div>
</section>
