<section class="shop">
  <div class="container shop__container">
    <h2 class="shop__title title">
      Shop our latest offers and categories
    </h2>
    <p class="shop__text centered">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor. Faucibus morbi
      turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <div class="shop__cards-inner">


      <ul class="shop__cards-left list-reset">
        <li class="shop__left-item shop__left-item--laptops">
          <a class="shop__left-top-link" href="#">
            <img class="shop__left-top-image" src="img/shop-left-top-image.png" width="500" height="377" alt="">
            <div class="shop__left-top-text-inner">
              <span class="shop__left-top-text card-text">Laptops</span>
              <h3 class="shop__left-top-subtitle card-subtitle">True Laptop Solution</h3>
            </div>
          </a>
        </li>
        <li class="shop__left-item shop__left-item--bottom">
          <a class="shop__left-bottom-link" href="#">
            <img class="shop__left-bottom-image" src="img/shop-left-bottom-image.png" width="381" height="270" alt="">
            <div class="shop__left-bottom-text-inner">
              <span class="shop__left-bottom-text card-text">Watch</span>
              <h3 class="shop__left-bottom-subtitle card-subtitle">Not just stylisht</h3>
            </div>
          </a>
        </li>
      </ul>

      <ul class="shop__cards-right list-reset">
        <li class="shop__right-item">
          <a class="shop__right-link" href="#">
            <img class="shop__right-left-image" src="img/shop-right-left-image.png" width="405" height="367" alt="">
            <img class="shop__right-left-image-full" src="img/shop-right-left-image-full.png" width="405" height="367"
              alt="">
            <div class="shop__right-left-text-inner">
              <span class="shop__right-left-text card-text">Phones</span>
              <h3 class="shop__right-left-subtitle card-subtitle">Your day to day life</h3>
            </div>
          </a>
        </li>

        <li class="shop__right-item">
          <a class="shop__right-link" href="#">
            <div class="shop__right-right-text-inner">
              <span class="shop__right-right-text card-text">Tablet</span>
              <h3 class="shop__right-right-subtitle card-subtitle">Empower your work</h3>
            </div>
            <img class="shop__right-right-image" src="img/shop-right-right-image-full.png" width="467" height="425"
              alt="">
          </a>
        </li>
      </ul>


    </div>

  </div>
</section>
